@charset "utf-8"; 


/* style & theme */
/*html, body { margin: 0; padding: 0; }*/

.ninebridge {
	font-size: small; 
	font-family: Tahoma, '나눔 고딕';
	line-height: 1.6em; 
	color: #666; 
}
.ninebridge h1, 
.ninebridge h2 { font-size: 1em; }

.ninebridge .nav { color: #999; line-height: 1.6; }
.ninebridge .vcard a { color: #333; text-decoration: none; }












/* boxmodel */









/* 다시 정의 */

html, body { margin: 0; padding: 0; }


.ninebridge { border-top: 40px solid #644bff; }
.ninebridge .inr { display: block; }
.ninebridge .inr { margin: 0 auto; width: 940px; }
.ninebridge .hx { display: none; }




.ninebridge .logo { font-size: 30px; line-height: 100px; color: #222; }
.ninebridge .logo { position: relative; }
.ninebridge .logo { margin: 0 auto; width: 940px; } 
.ninebridge .logo .inr { position: absolute; }



.ninebridge .nav { line-height: 100px; font-size: 20px; text-align: right; color: #202; }
.ninebridge .nav ul { list-style-type: none; }
.ninebridge .nav ul { margin: 0; padding: 0; }
.ninebridge .nav li { display: inline; }
.ninebridge .nav li { margin-left: 60px;  }



.ninebridge .vision { 
	background-color: #eee; 
	text-align: center;
}
.ninebridge .vision { 
	padding: 4em 0;
	height: 500px; 
	border: 1px solid transparent; 
}

.ninebridge .vision .inr { 
	background-color: #333; 
	color: #fff; 
	opacity: .8;
}
.ninebridge .vision .inr { border: 1px solid transparent; }
.ninebridge .vision .h1 { 
	padding-bottom: 10px;
	height: 160px; 
	border-bottom: 1px solid #fff; 
}
.ninebridge .vision .h1 { margin: 1em; }
.ninebridge .vision p { margin: 1em; }  


.ninebridge .memberbx { border: 1px solid transparent; }
.ninebridge .memberbx .h1 { color: #535; line-height: 160px; font-size: 32px; }
.ninebridge .memberbx .h1 {
	margin: 2em auto; 
	width: 940px; 
}




.ninebridge .outer.a { background-color: #f0f0f0; }
.ninebridge .outer.b { background-color: #fff; }
.ninebridge .vcard:after { content: ""; display: block; clear: both; }
.ninebridge .vcard { margin: 0 auto; width: 940px; }
.ninebridge .vcard { position: relative; }
.ninebridge .vcard img { float: right; }
.ninebridge .vcard img { width: 300px; height: 290px; }
.ninebridge .vcard .note { color: #747474; font-size: 18px; }
.ninebridge .vcard .note { padding-top: 40px; width: 520px; }
.ninebridge .vcard .box1 { position: absolute; bottom: 30px; right: 410px; }
.ninebridge .vcard .fn { font-size: 30px; line-height: 40px; text-align: right; } 
.ninebridge .vcard .fn { display: block; }
.ninebridge .vcard .email { font-size: 18px; }



.ninebridge .techBrunch header, 
.ninebridge .schedule { background-color: #644bff; }
.ninebridge .history { background-color: #41919c; }
.ninebridge .techBrunch header,
.ninebridge .schedule { color: #fff; }
.ninebridge .schedule { border: 1px solid transparent; }

.ninebridge .techBrunch header { height: 190px; }
.ninebridge .techBrunch .h1 { font-size: 32px; font-weight: bold; }
.ninebridge .techBrunch .h1 { margin: 0; padding-top: 65px; }
.ninebridge .techBrunch p { font-size: 18px; }

.ninebridge .schedule h2 { font-size: 28px; font-weight: normal; } 
.ninebridge .schedule h2 { margin: 0 0 48px 0; }
.ninebridge .schedule .subject a { color: #fff; font-style: italic; font-size: 24px; text-decoration: none; }
.ninebridge .schedule .subject a { border-bottom: 1px solid #fff; }
.ninebridge .schedule /*dt*/.secret a { color: #9483ff; }
.ninebridge .schedule /*dt*/.secret a { border-bottom-color: #9483ff; }
.ninebridge .schedule dd { margin: 0; }
.ninebridge .schedule .fn { margin: 30px 0; } /* 이미지 사이즈 : 60x60, 이미지의 오른쪽 간격 : 10 */
.ninebridge .schedule .note, 
.ninebridge .schedule .tag { font-size: 18px; }
.ninebridge .schedule .tag { margin-bottom: 38px; }

.ninebridge .history { color: #fff; }
.ninebridge .history { border: 1px solid transparent; }
.ninebridge .history h2 { font-size: 24px; font-weight: normal; }
.ninebridge .history h2 { margin: 50px 0; }
.ninebridge .history .subject a { color: #fff; font-style: italic; font-size: 20px; text-decoration: none; }
.ninebridge .history .subject a { border-bottom: 1px solid #fff; }
.ninebridge .history /*dt*/.secret a { color: #77bac3; }
.ninebridge .history /*dt*/.secret a { border-bottom-color: #77bac3; }
.ninebridge .history dd { margin: 0; }
.ninebridge .history .fn { margin: 30px 0; }
.ninebridge .history .note, 
.ninebridge .history .tag { font-size: 14px; }
.ninebridge .history .tag { margin-bottom: 34px; }



